{% extends "base.html" %}
{% block content %}
    <section class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">About this site</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique, ante in sollicitudin
                    tincidunt, urna diam sagittis leo, eget mollis ante ligula non lacus. In erat justo, imperdiet in
                    congue lobortis, varius nec lorem. Maecenas feugiat erat enim. Aenean dapibus scelerisque turpis,
                    sed eleifend erat hendrerit eget. Pellentesque blandit nibh massa, eget porta ipsum vulputate id.
                    Sed egestas aliquet efficitur. Donec tortor erat, aliquet ac blandit sed, aliquet quis erat. Nullam
                    vulputate est eu massa pulvinar, sed lobortis massa pharetra. Morbi erat libero, lobortis eu tempor
                    ut, mollis vel urna. Aenean ac nulla ipsum. Nam a libero pharetra, viverra mauris a, scelerisque
                    est. Praesent a ultricies quam, ut consectetur est. Nulla vel condimentum mauris. Donec tristique
                    risus sollicitudin purus vestibulum semper. Mauris ornare malesuada rhoncus. Suspendisse facilisis
                    varius justo laoreet fermentum.
                </div>
                <div class="col-md-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tristique, ante in sollicitudin
                    tincidunt, urna diam sagittis leo, eget mollis ante ligula non lacus. In erat justo, imperdiet in
                    congue lobortis, varius nec lorem. Maecenas feugiat erat enim. Aenean dapibus scelerisque turpis,
                    sed eleifend erat hendrerit eget. Pellentesque blandit nibh massa, eget porta ipsum vulputate id.
                    Sed egestas aliquet efficitur. Donec tortor erat, aliquet ac blandit sed, aliquet quis erat. Nullam
                    vulputate est eu massa pulvinar, sed lobortis massa pharetra. Morbi erat libero, lobortis eu tempor
                    ut, mollis vel urna. Aenean ac nulla ipsum. Nam a libero pharetra, viverra mauris a, scelerisque
                    est. Praesent a ultricies quam, ut consectetur est. Nulla vel condimentum mauris. Donec tristique
                    risus sollicitudin purus vestibulum semper. Mauris ornare malesuada rhoncus. Suspendisse facilisis
                    varius justo laoreet fermentum.
                </div>
            </div>
        </div>
    </section>
{% endblock content %}